extends ./layout.jade

block title
	title=title

block content
	.container
		.row(style='margin-top:20px;')
			.col-md-12.text-center
				h2=title
				p(id="socket", class='text-center text-justify') Hello sjdsakdhks ishdkhksd csiodhfcisd csidfiosd fiesdfois dfoosid fiosdfio eicsjksdoifiosdf osdiofisodufio csdoif osidfuio sdfoicsihdjkhs dsui uiedioduf sodufoisudifuis doifo sidufio sodfoisiodufio siodfiosudiofuios doifios doiufoiesuiodf eosdiof seoidf soidfio soediufio soduf osdoifu osidf oied foisdf osidfu siodfu osdiufio sdoiuf oisoif soif ios fois foisueidufisuoiufoe sodifuios doiciose dficosedfio soidfo isdfiosdfuiousoiduf oiseudf oiesdf iosed foiesdf iiesdf ieosdfoisdifiuhsd kajsd asdi iwaesdi wieud weiseudioweise diwksd iwesduicesjd duiesyduiceui iuesuie die iiuwee iwi eiwy uie wise iuwuieseui i

block script
	script(src="https://cdn.socket.io/socket.io-1.2.0.js")
	script(type='text/javscript').
		var socket = io();
